<section class="intro">
  <h2>Mission</h2>
  <h1>A peer group for women in tech who are managing people and leading teams.</h1>
  <a class="button" href="https://meetup.com/WTL-Women-Tech-Leaders-NYC/">Join Us</a>
</section>
{{#if events}}
<section class="events">
  <h2>Events</h2>
  {{#each events}}
    {{#if this.announced}}
    <div class="event">
      <div class="event_calendar">
        <div class="event_calendar_day">{{{date this.time type="day"}}}</div>
        <div class="event_calendar_month">{{{date this.time type="month"}}}</div>
      </div>
      <h4 class="event_date">{{{date this.time type="date"}}}</h4>
      <h3 class="event_name"><a href="{{this.event_url}}">{{this.name}}</a></h3>
      <div class="event_description">{{{this.description}}}</div>
    </div>
    {{/if}}
  {{/each}}
</section>
{{/if}}
<section class="about">
  <h2>About</h2>
  <article>
    <p><strong>Tech leadership</strong> can be exhausting and confusing but it’s also rewarding and stimulating. Let’s learn from each other so we can grow faster and develop our own squads and a larger community!</p>
    <div class="captioned_image">
      <img src="/img/031319.jpg" width="300" />
      <p>Women Tech Leaders x Code Climate<br />Building Influence and Credibility</p>
    </div>
    <p>We’ll get together to hear prominent and experienced women in tech leadership talk about their experiences and we’ll meet to listen to and mentor each other in small groups.</p>
  </article>
</section>
